name: Run tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tgserver-version: ['3.7.0']

    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Cache Docker images.
      uses: ScribeMD/docker-cache@0.2.6
      with:
        key: docker-${{ runner.os }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Start Tigergraph Server
      uses: marcosconceicao/tigergraph-github-action@v2
      with:
        tgserver-version: ${{ matrix.tgserver-version }}

    # - run: npm install

    # - run: npm test
    #   env:
    #     CI: true